/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Style */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

/* Header Style */
header {
    background-color: #abcde6;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Section Style */
section {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    text-align: center; /* Align text and image to center */
}

section h2 {
    margin-bottom: 10px;
}

.center-image {
    text-align: center;
}

.center-image img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    margin-top: 20px; /* Add margin to the top of the image */
}

/* Featured Section Style */
.featured {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.featured-item {
    flex-basis: 30%; /* Adjust the width of each featured item */
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
}
.a-navbar {
    text-decoration: none;
    color: black;
}
.featured-item h2 {
    margin-bottom: 10px;
}

/* Form Style */
form {
    max-width: 500px;
    margin: auto;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #abcde6;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #c3def1;
}

/* Footer Style */
footer {
    background-color: #abcde6;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
    header nav ul li {
        display: block;
        margin: 10px 0;
    }
    .featured {
        flex-direction: column;
    }
    .featured-item {
        margin-bottom: 20px;
    }
}
